<article>
    <h3>Clase 2 - Elementos</h3>
    <p class="fecha">28 de Agosto</p>
    <p class="quote">"Eppur si muove (Y, sin embargo, se mueve)" -Galileo Galilei</p>
    <div class="contenido">
        <p>Decia Lecoq que todo tiene su propio movimiento, y cualquiera que sepa algo de fisica 
            podria darle la razón, pues todo en el universo se mueve, incluso los objetos
            aparentemente solidos e inmoviles tienen un movimiento interno microscopico muy
            sutil pero igualmente bello, porque al final son estos movimientos los que nos
            permiten experimentar algunas de las propiedades mas llamativas, como el brillo 
            de un diamante o nuestra conexion a internet.
        </p>
        <p>Incluso las ideas tienen su propio movimiento, por ejemplo, la idea de que existen
            4 elementos que componen la naturaleza proviene de los antiguos filosofos 
            presocraticos, que por un lado se movio por todo el mundo permeando muchas culturas,
            y por otro lado tuvo un movimiento transformador, inspirando grandes mentes a proponer
            otras formas en que la naturaleza se puede componer.
            Ahora sabemos que el agua se compone de dos elementos, oxigeno e hidrogeno; el fuego es
            la combustion de algun gas inflamable liberando energia en el ambiente y consumiendo materiales;
            la tierra es tan diversa que de ella extraemos inumerables productos, y que el aire que sentimos frio
            en nuestra cara se puede transformar en un huracán. 
        </p>
        <p>
            Inevitablemente estos pensamientos pasan por mi mente rapidamente cuando me piden que me mueva
            inspirado en estos elementos, me lleva a pensar que lo estoy pensando demasiado mientras veo que mis
            compañeros comienzan con envidiable naturalidad. Aun asi llegué a la conclusion de que
            en parte el objetivo del ejercicio puede ser esa reflexion interna, lenta pero profunda la que me permita
            conectar con mi cuerpo y talvez con mis compañeros. 
        </p>
        <div class="elements">
            <div>
                <img src="assets/clase1/aire.jpg" alt="Aire">
                <p>
                    El aire que sale de mis pulmones en cada respiracion, se expande al instante por toda la habitacion,
                    lleva consigo los microorganismos que habitan en mi cuerpo, y tambien se lleva poco a poco el estres de 
                    la semana. Talvez si me dejo llevar y saco en un instante todo lo que llevo dentro de mi, no se sienta una
                    sueve respiracion sino un terrible huracan.
                </p>
            </div>
            <div>  
                <img src="assets/clase1/ducha2.jpg" alt="Aire">
                <p>
                    El agua que cae de la ducha, se desliza por mi piel llevandose la suciedad y el cansancio del dia, 
                    me relaja y me renueva, me hace sentir limpio y fresco. Talvez si me dejo llevar y me muevo como el agua
                    podria sentirme renovado y limpio por dentro.
                </p>
            </div>
            <div>
                <img src="assets/clase1/fuego.jpg" alt="Aire">
                <p>
                    El fuego de un fosforo nos brinda una luz intensa e igualmente efimera, representa muy bien nuestro lugar
                    en el universo, una chispa en la inmensidad del cosmos. Talvez si me dejo llevar entenderé mi propio lugar
                    y se me apague poco a poco el ego.
                </p>
            </div>
            <div>
                <img src="assets/clase1/tierra.jpg" alt="Aire">
                <p>
                    La tierra que pisamos parece firme pero en realidad puede ser muy fragil, un pequeño movimiento puede desencadenar
                    todo un derrumbe arrazando con todo a su paso. Talvez si me dejo llevar y me muevo como la tierra podria sentirme
                    con la fuerza para arrazar con todo lo que me detiene. 
                </p>
            
        </div>
    </div>
        <!-- Agrega más párrafos, imágenes, videos, etc., según sea necesario -->
</article>