<article>   
    <h3>Clase 4 - Acción vs movimiento</h3>
    <p class="fecha">11 de Septiembre</p>
    <p class="quote"></p>
    <div class="contenido">
        <p>¿Que es una accion y que es un movimiento? </p>
        <p>Una accion es un movimiento con un proposito, es decir, un movimiento que tiene un objetivo, que busca un resultado, que tiene un
            porque. Por otro lado, un movimiento es un cambio de posicion, un desplazamiento en el espacio, un cambio en la velocidad, una alteracion en la direccion, 
            estos cambios no nos dicen nada sobre la intension que los origina.
        </p>
        <p>
            La partitura que creamos anteriormente ahora tiene una forma de descomponerse en acciones especificas, cada una de estas acciones tiene un proposito, y se componen de movimientos
            que se realizan en un orden logico para completar la accion. Por ejemplo, si quiero abrir una puerta, primero debo acercarme a ella, luego debo tomar la manija, 
            despues debo girarla y finalmente debo empujarla o jalarla. Cada uno de estos movimientos tiene un proposito, y juntos forman una accion.
        </p>
        <p>
            Mi pequeño inquilino se pone inquieto, hasta ahora ha tenido la libertad para explorar este mundo, rodearse de paisajes hermosos y personas interesantes aunque 
            realmente no pueda hablar. ¿Que accion quiere transmitir con sus movimientos? ¿Acaso busca un nuevo hogar? si me abandona tendre que mecerme al son del viento mientras
            encuentro el tiempo para aprender a seguir las partituras del mundo.

        </p>
        <div class="marioneta">
            <img src="assets/clase4/marioneta.jpg" alt="">
        </div>
        
    </div>
</article>