<article>
    <h3>Clase 3 - Partitura</h3>
    <p class="fecha">4 de Septiembre</p>
    <p class="quote"></p>
    <div class="contenido">
        <p>La musica siempre ha sido fundamental en mi vida, pero desde temprano aprendi, en mis primeras clases de musica,
            que habia una guia que debia seguir para poder tocar como lo hacen todos los demás. Talvez aprender a leer estas
            partituras fue demasiado para mi mente que no disfrutaba dedicar tantas horas a la practica, abandoné las clases 
            y me dedique a aprender de forma lenta y autodidacta. Sin embargo entiendo la importancia de esta guia para poder
            transmitir las instrucciones que permiten a los musicos tocar juntos, en armonia y sincronia incluso a travez del tiempo.
        </p>
        
        <h4>Ejercicio de Observación</h4>
        <p>Quien: Un hombre de edad, maneja una pequeña tienda de diversos alimentos en la universidad, el poco pelo que tiene
            es canoso, viste con ropa formal pero la usa de forma informal, siempre esta de buen humor y tiene una sonrisa al
            atender a sus clientes.
        </p>
        <p>Que Hace: Atiende a unos clientes que piden tinto, cuando ve que no hay muchas personas al rededor, se sienta y enciende
            un cigarrillo, mientras fuma tranquilamente observa al rededor y se percata de que se le acercan nuevos clientes, apaga el
            cigarrillo rapidamente para poder atenderlos.
        </p>
        <p>Como lo hace: Con movimientos lentos pero eficientes, con una sonrisa y un trato amable.</p>
        <p>Donde: En una pequeña caseta similar a las que tiene al rededor, con varios productos expuestos</p>
        <p>Cuando: Todos los dias desde temprano, hasta muy tarde.</p>	
        
        <h4>Partitura</h4>
        <p>Inicio: Un hombre se acerca a su caseta, abre la puerta y organiza sus pertenencias, luego sale esquivando un muro
            para abrir la ventana que sirve de vitrina, organiza los productos, vuelve adentro y se pone una mascara que expresa
            una sonrisa para asi disponerse a esperar a sus primeros clientes
        
        </p>
        <p>Nudo: Unos estudiantes se acercan a pedir dos tintos, los sirve mientras pregunta cuantas de azucar, sirve el azucar y entrega
            los tintos, cobra el dinero y luego observa que no hay mas personas al rededor, se sienta y enciende un cigarrillo. Mientras fuma
            tranquilamente observa al rededor y se percata de que se le acercan nuevos clientes, apaga el cigarrillo rapidamente para poder atenderlos.
            repite la rutina de los tintos, cobrar, y esperar.

        </p>
        <p>Desenlace: Ya es tarde y el hombre ya siente el cansancio mira su reloj y decide que es hora de cerrar, se quita la mascara que deja ver 
            su cansancio, sale para guardar los productos y cierra la ventana, siente el frio mientras cierra la puerta, se pone su mochila y se va 
            caminando lentamente.
        </p>
        <!-- Agrega más párrafos, imágenes, videos, etc., según sea necesario -->
    </div>
</article>