<article>
    <h3>Clase 1 - Un salto fuera de mi</h3>
    <p class="fecha">21 de Agosto</p>
    <p class="quote">"El cuerpo sabe cosas que la cabeza no sabe todavia" -Jaques lecoq</p>
    <div class="contenido">
        <p>Nunca me he sentido conectado con mi propio cuerpo, llegue a sentir que dentro de mi cabeza vivia un pequeño ser quien
            podia controlar todos mis movimientos, al inicio, este conductor no se preocupada por la logica detras
            de cada gesto, pero al crecer, se dio cuenta que sus movimientos llamaban la atención, por esto cada vez se volvia mas 
            mecanico y controlado, simple imitacion del entorno para no destacar mucho y que nadie llegara a descubrir 
            que no era yo sino el quien decidia a donde iban mis pasos. Para mi era un buen trato, cediendo el control de mi ente fisico podia 
            concentrarme en el interior mas profundo de mi mente, alli es donde disfrutaba estar, dentro de mi cabeza me movia con total libertad, mi imaginacion y la conversacion 
            interna con multiples voces nunca me hicieron sentir atrapado o secuestrado. 
        </p>
        <p>
            Pero aqui estoy asuminedo un nuevo reto, listo para cambiar el contrato de arrendamiento de mi pequeño inquilino para que, al menos una vez a la semana, por un semestre entero,
            tenga que regresarme el control de mi propia maquinaria, esa que se me hace tan ajena, para intentar conectar conmigo mismo y con
            los demas a traves de gestos y movimientos, transmitiendo todo eso que mi mente guardaba en secreto. Solo espero que no se sienta traicionado y decida porfin
            dar un salto fuera de mi.
        </p>
       
        <!-- Agrega más párrafos, imágenes, videos, etc., según sea necesario -->
    </div>
</article>